#formResetPassword {
    color: #fff;
}

#formResetPassword input {
    border: 1px solid #F34A38;
}

#formResetPassword p {
    padding-left: 1.2em;
    margin-top: 6px;
    color: yellow;
}

#card-reset-password{
    background-color: #282828 !important;
    color: #fff !important;
}