<div class="page home">
    <div class="page-content infinite-scroll-content infinite-scroll-top ">
        <div class="cabec">
            <div class='redondo'>
                <img class="userImg" src="{{model.photo}}" alt="">
            </div>
            <div class="userName">
                <h4>
                    {{model.name}}
                </h4>
            </div>
        </div>

        <div class="menu">

            <div class="list">
                <ul>
                    <li class="home">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="card">
                                    <div class="card-content home">
                                        <!-- Card content -->
                                        <img src="images/meucarro.svg" alt="">
                                    </div>
                                    <div class="card-footer home">
                                        <p>
                                            Meu Carro
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="home">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="card">
                                    <div class="card-content home">
                                        <!-- Card content -->
                                        <img src="images/networking.svg" alt="">
                                    </div>
                                    <div class="card-footer home">
                                        <p>
                                            Grupos
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="home">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="card">
                                    <div class="card-content home">
                                        <!-- Card content -->
                                        <img src="images/rodizio.svg" alt="">
                                    </div>
                                    <div class="card-footer home">
                                        <p>
                                            Rodizio de Carro
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <!--- Acima disso content -->
        <div class="preloader infinite-scroll-preloader"></div>
    </div>
</div>